<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3实现todolist——了解循环和双向绑定</title>
    <style>
        .finished {
            text-decoration: line-through;
            color:blue;
        }
    </style>
</head>
<body>
    <div id="app">

    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script>
       Vue.createApp({
           data() {
               return{
                   inputValue:"",
                   list:[{
                       title:"aaa",
                       finished:"bbb"
                   },
                   {
                       title:"aaa",
                       finished:"bbb"
                   },

                ],
               
                //    colorData:['#ff0000','#007dff','#673ab7'],
               };
           },
           methods: {
               handleAddItem() {
                   this.list.push(this.inputValue);
                   this.inputValue="";
               },
           },
           template:`
           <div>
            <input v-model="inputValue"/>
            <button v-on:click="handleAddItem">增加</button>
            <ul>
                <li v-for="(item,index) of list":style="'color:'+(item)>10'red':'green'+';'">{{item}}</li>  
                    
            </ul>
            </div>
       `,
       }).mount("#app")
    
    </script>
    
</body>
</html>