<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="player.firstNmae" type="text" />
        <input v-model="player.lastNmae" type="text" />
        <h2>全名是：{{player.fullName}}</h2>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script>
        let app = Vue.createApp({
            data () {
                return {
                    player:{
                        firstName: '',
                        lastName: '',
                        fullName: '',
                    },
                    

                };
            },
            watch:{
                // 侦听器的标准语法格式
                player:{
                    handler(newValue, oldValue) {
                        console.log("handler被调用");
                        this.player.fullName= "默认名字"
                        //   newValue.firstName + " " +oldValue.lastName;

                    },
                    
                    //  页面加载完毕就处罚handler（数据初始化）
                    immediate: true,
                    // 可以深度检测到player对象属性值的变化
                    deep: true,

                },
                

            },
        
        });
        let vm = app.mount('#app');
    </script>
</body>
</html>